modules:
  prefix_inspections:
    bin:
      - PATH
    lib:
      - LIBRARY_PATH
      - LD_LIBRARY_PATH
    lib64:
      - LIBRARY_PATH
      - LD_LIBRARY_PATH
  default:
    # Where to install modules
    roots:
      tcl: $spack/../modules
      lmod: $spack/../share/lmod
    # What type of modules to use ("tcl" and/or "lmod")
    enable: [tcl]
    tcl:
      hash_length: 0
      naming_scheme: '{name}/{version}-{compiler.name}-{compiler.version}'
      exclude_implicits: True
      exclude:
        - 'openmpi'
      all:
        autoload: direct
        environment:
          set:
            'SPACK_{name}_ROOT': '{prefix}'
